<% layout('./layouts/boilerplate') %>
    <div class="container">
        <div class="card my-2 text-center heading fs-3" style="padding: 1px !important;">
            <div class="card-body">
                Register as Patron
            </div>
        </div>
        <form method="POST" action="/Patron/add" enctype="multipart/form-data">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="Patron[firstname]">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="Patron[lastname]">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-2">
                    <label class="form-label">Age</label>
                    <input type="text" class="form-control" id="age" name="Patron[age]">
                </div>
                <div class="mb-3 col-md-2">
                    <label class="form-label">Gender</label>
                    <input type="text" class="form-control" id="gender" name="Patron[gender]">
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label">Phone</label>
                    <input type="eamil" class="form-control" id="phone" name="Patron[phone]">
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label">Email</label>
                    <input type="eamil" class="form-control" id="email" name="Patron[email]">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-12">
                    <div class="mb-3">
                        <label class="form-label">Attach your Profile Photo</label>
                        <input class="form-control" type="file" name='Image' id="Images" multiple>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn heading">Register</button>
        </form>
    </div>