<% layout('layouts/BoilerPlate')%>
    <h5 class="heading">
        About Us
    </h5>
    <h5 class="heading container mt-1">
        Features Of Our Project
    </h5>
    <div class="container">
        <div class="card mb-3 background1">
            <div class="row">
                <div class="col-md-6">
                    <img src="https://empoweringmichigan.com/wp-content/uploads/2018/11/larm-rmah-216854-unsplash.jpg" class="img" height="400px" width="600px">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text textcolor fs-4 fw-semibold">Patron can view existing child or add new one.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card mb-3 background1">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text textcolor fs-4 fw-semibold">NGOs can adopt them or sponsor the kids and help them develop and grow into independent indivisuals</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://i1.wp.com/equityforchildren.org/wp-content/uploads/2018/11/adorable-childhood-children-754769.jpg?fit=1200%2C800" class="img" style="margin-left: 30px; border-radius:0px;" height="400px" width="600px">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card mb-3 background1">
            <div class="row">
                <div class="col-md-6">
                    <img src="https://d1vdjc70h9nzd9.cloudfront.net/media/campaign/35000/35955/image/ee98029af2c64cd16bce30c34b446c5cfafb9964.jpg" class="img" height="350px" width="600px">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text textcolor fs-4 fw-semibold">Patrons can even donote for the upliftment of the kids </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="heading container">
        Team Creedorian
    </h5>
    <div id="carouselExampleIndicators" class="carousel slide container" data-bs-ride="true">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/prateek.jpeg" class="d-block w-100 teamimg">
                <div class="card background1">
                    <div class="card-body position2">
                        <h5 class="card-title textcolor1">Prateek Kanojia</h5>
                        <a class="card-subtitle mb-2 text-muted" target="_blank" href="https://github.com/Prateek844866">https://github.com/Prateek844866</a>
                        </br>
                        <a class="card-subtitle mb-2 text-muted" target="_blank" href="https://www.linkedin.com/in/prateek-kanojia-479146205/">https://www.linkedin.com/in/prateek-kanojia-479146205/</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/ishita.jpeg" class="d-block w-100 teamimg">
                <div class="card background1">
                    <div class="card-body position2">
                        <h5 class="card-title textcolor1">Ishita Singh</h5>
                        <a class="card-subtitle mb-2 text-muted" target="_blank" href="https://github.com/Ishita-Singh1808">https://github.com/Ishita-Singh1808</a>
                        </br>
                        <a class="card-subtitle mb-2 text-muted" target="_blank" href="https://www.linkedin.com/in/ishita-singh1808/">https://www.linkedin.com/in/ishita-singh1808/</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/vansh.jpeg" class="d-block w-100 teamimg">
                <div class="card background1">
                    <div class="card-body position2">
                        <h5 class="card-title textcolor1">Vansh Sachdeva</h5>
                        <a class="card-subtitle mb-2 text-muted" target="_blank" href="https://github.com/mrarthor">https://github.com/mrarthor</a>
                        </br>
                        <a class="card-subtitle mb-2 text-muted" target="_blank" href="https://www.linkedin.com/in/mrarthor/">https://www.linkedin.com/in/mrarthor/</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon heading" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon heading" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>