<% layout('/layouts/Boilerplate') %>
    <div>
        <div class="card text-bg-dark flat">
            <img src="https://images.pexels.com/photos/35537/child-children-girl-happy.jpg" class="card-img" style="height: 100%; width:100%; object-fit:fill;" alt="...">
            <div class="card-img-overlay">
                <div class="position">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
            <div class="card text-bg-dark flat">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK91ODr4Qj09I0jP3zE5MW72tSyEGXEeaI4h7NNPtrwDRinCYxQB-oHMgTcxNwU0YGcdk&usqp=CAU" class="card-img" style="height: 100%; width:100%; object-fit:fill;" alt="...">
                <div class="card-img-overlay">
                    <div class="position1">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
                <div class="card text-bg-dark flat">
                    <img src="https://image.shutterstock.com/image-vector/background-multicolored-brush-strokes-bright-260nw-2155657563.jpg" class="card-img" style="height: 100%; width:100%; object-fit:fill;" alt="...">
                    <div class="card-img-overlay">
                        <div class="position">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>