<% layout('/layouts/Boilerplate') %>
    <div>
        <div class="card text-bg-dark flat">
            <img src="https://images.pexels.com/photos/35537/child-children-girl-happy.jpg" class="card-img" style="height: 100%; width:100%; object-fit:fill;" alt="...">
            <div class="card-img-overlay">
                <div class="position">
                    <h5 class="card-title">Help A Child</h5>
                    <p class="card-text">We are a group of dedicated individuals who are passionate about helping the needy children and the needy and helpless people in need of help.
                    </p>
                </div>
            </div>

        </div>
    </div>