{{>head}}
<title textcolor1>Company | Services</title>
{{>navbar}}
<div class="container">
    <div class="row">
        <div class="card text-center  col-md-6 background1">
            <div class="card-body rounded">
                <h5 class="card-title textcolor1">Register as Patron</h5>
                <p class="card-text textcolor2 text-center">With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="/registerpatron" class="btn heading">Click Here!!</a>
            </div>
        </div>
        <div class="card text-center  col-md-6  background1">
            <div class="card-body rounded">
                <h5 class="card-title textcolor1">Register as NGO</h5>
                <p class="card-text textcolor2 text-center">With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="/registerngo" class="btn heading">Click Here!!</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card text-center mt-2 col-md-6  background1">
            <div class="card-body rounded">
                <h5 class="card-title textcolor1">Login as Patron</h5>
                <p class="card-text textcolor2 text-center">With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="/loginpatron" class="btn heading">Click Here!!</a>
            </div>
        </div>
        <div class="card text-center mt-2 col-md-6  background1">
            <div class="card-body rounded">
                <h5 class="card-title textcolor1">Login as NGO</h5>
                <p class="card-text textcolor2 text-center">With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="/loginngo" class="btn heading">Click Here!!</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card text-center mt-2 background1">
            <div class="card-body rounded">
                <h5 class="card-title textcolor1">Register a Child</h5>
                <p class="card-text textcolor2 text-center">With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="/registerchild" class="btn heading">Click Here!!</a>
            </div>
        </div>
    </div>
</div>


{{>footer}}